{# Copyright 2015 Oleg Girko <ol@infoserver.lv>                        #}
{#                                                                     #}
{# This file is part of ldbox.site Python package.                     #}
{#                                                                     #}
{# ldbox.site Python package is free software:                         #}
{# you can redistribute it and/or modify                               #}
{# it under the terms of the GNU Affero Public License as published by #}
{# the Free Software Foundation, either version 3 of the License, or   #}
{# (at your option) any later version.                                 #}
{#                                                                     #}
{# Foobar is distributed in the hope that it will be useful,           #}
{# but WITHOUT ANY WARRANTY; without even the implied warranty of      #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the       #}
{# GNU Affero Public License for more details.                         #} 
{#                                                                     #}
{# You should have received a copy of the GNU Affero Public License    #}
{# along with Foobar.  If not, see <http://www.gnu.org/licenses/>.     #}

{% extends "site_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% load waliki_tags %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="POST" action="{% url 'django.contrib.auth.views.login' %}" class="login">
{% csrf_token %}
<div id="loginform">
{{ form|render_form }}
<input type="hidden" name="next" value="{{ next }}" />
</div>
<div class="pull-right">
<input class="btn btn-success" type="submit" value="Login"/>
{% if next %}
<a class="btn btn-default" href="{{ next }}">{% trans "Cancel" %}</a>
{% endif %}
</div>
</form>
{% endblock content %}
