# Local secrets for your site.
# Copy this file to localsettings.py and edit.
# Don't share and don't commit version control systems!

# Django secret key (SECRET_KEY optin in settings.py file).
# You _must_ change this to something new randomly generated!
# Use gen_secret_key.py utility to generate a new key.
LDBOX_SECRET_KEY = '_zux#j9p%!@7^z#lvfm!po$tr#628qp6a!d^rs86rge_n)n_rm'

# Database connection parameters.
## Engine module:
LDBOX_DATABASE_ENGINE = 'django.db.backends.postgresql_psycopg2'
## Name:
LDBOX_DATABASE_NAME = 'ldbox'
## Username:
LDBOX_DATABASE_USER = 'ldbox'
## Password:
LDBOX_DATABASE_PASSWORD = 'top_secret_password_1'
## Host:
LDBOX_DATABASE_HOST = '127.0.0.1'
## Port:
LDBOX_DATABASE_PORT = ''
