# Copyright 2015 Oleg Girko <ol@infoserver.lv>
#
# This file is part of ldbox.site Python package.
#
# ldbox.site Python package is free software: 
# you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Foobar is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Foobar.  If not, see <http://www.gnu.org/licenses/>.

# Local secrets for your site.
# Copy this file to localsettings.py and edit.
# Don't share and don't commit version control systems!

# Django secret key (SECRET_KEY optin in settings.py file).
# You _must_ change this to something new randomly generated!
# Use gen_secret_key.py utility to generate a new key.
LDBOX_SECRET_KEY = '_zux#j9p%!@7^z#lvfm!po$tr#628qp6a!d^rs86rge_n)n_rm'

# Database connection parameters.
## Engine module:
LDBOX_DATABASE_ENGINE = 'django.db.backends.postgresql_psycopg2'
## Name:
LDBOX_DATABASE_NAME = 'ldbox'
## Username:
LDBOX_DATABASE_USER = 'ldbox'
## Password:
LDBOX_DATABASE_PASSWORD = 'top_secret_password_1'
## Host:
LDBOX_DATABASE_HOST = '127.0.0.1'
## Port:
LDBOX_DATABASE_PORT = ''
